body {
  font-family: Helvetica, sans-serif;

  color: #333333;
  background-color: #FFFFFF;
}

main {
  padding: 0px 24px 48px 24px;
}

@media (min-width: 1000px) {
  main {
    padding: 0px 10% 48px 10%;
  }
}

ul {
  padding-left: 1em;
  list-style: none;
}
