body {
  font-family: Helvetica, sans-serif;

  color: #333333;
  background-color: #FFFFFF;
}

.dark-mode {
  color: #aaccee;
  background-color: black;
}

main {
  padding: 0px 24px 48px 24px;
}

@media (min-width: 1000px) {
  main {
    padding: 0px 10% 48px 10%;
  }
}

ul {
  list-style: none;
}

.project-list {
  padding-left: 1em;
}

.social-icon {
  height: 1em;
  margin-right: 0.5em;
}

.social-media-list > li {
  margin: 0.1em 0;
}
